.choose {
    margin-top: 175px;
    color: #ffffff;
    min-height: 85%;
    img {
        height: 250px;
    }
    .combine {
        margin: 15px auto;
        h1 {
            padding-bottom: 15px;
            font-family: 'Open Sans bold normal';

            font-style: normal;

        }
    }
}
footer p {
    color: #c2c2c2;
    padding-top: 50px;
}

.news{
    color: #ffffff;
}